.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    background-color: black;
}
.list-group-item {
    background-color: black;
}
.h-100 {
    background-color: darkgray;
}
